body {
  background-color: black;
  color: green;
  font-family: 'Courier New', Courier, monospace;
  padding: 10px;
}

button {
  border-color: green;
  background-color: black;
  color: green;
  padding: 10px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 900;
  font-size: large;
  height: fit-content;
}

.home-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}